$height-header: 64px;
$width-aside: 280px;
$width-aside-collapse: 68px;
$menu-animation-time: 0.3s;
$menu-padding-left: 24px;

$text-img-height: 18px;


// :export {
//   heightHeader: $height-header;
//   widthAside: $width-aside;
//   widthAsideCollapse: $width-aside-collapse;
// }